<loading *ngIf="!hideLoader"></loading>
<div class="below-slideshow">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="txt-block">
                    <h1 class="head-line">Who We ARE</h1>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- BELOW SLIDESHOW SECTION END-->
<div class="container" *ngIf="aboutUsContent">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--<h1 class="tag-home"> Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Mauris sagittis felis dolor vitae.
                Mauris sagittis felis dolor vitae Mauris sagittis felis dolor vitae.</h1>-->
                <h3 class="tag-home" [innerHTML]="aboutUsContent" style="font-size: 20px;text-align: justify;"></h3>
            <hr />
        </div>
    </div>
</div>