<!-- TAG HOME SECTION END-->
<div class="">
    <div class="container">
        <h3>Enquiry Form</h3>
        <div class="alert alert-info" *ngIf="form.status==='INVALID'">
            Fileds marked with * are mandatory
        </div>
        <form class="enquiry-form" [formGroup]="form" (ngSubmit)="submitEnquiry()">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label>Name *</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Name" autocomplete="off">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label>Email *</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="Email" autocomplete="off">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label>Contact *</label>
                        <input type="text" class="form-control" formControlName="contact" placeholder="Contact" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="row" *ngFor="let envVar of envVars.controls;let x=index;" formGroupName="productEnquiry">
                <div class="form-group" [formGroup]="envVar">
                    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                        <div class="form-group">
                            <label>Value</label>
                            <input type="text" class="form-control" formControlName="value" placeholder="Value" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                        <div class="form-group">
                            <label>Voltage</label>
                            <input type="text" class="form-control" formControlName="voltage" placeholder="Voltage" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="form-group" *ngIf="categories">
                            <label>Category</label>
                            <select class="form-control" formControlName="category">
                            <option value="{{category.id}}" *ngFor="let category of categories">{{category.name}}</option>
                            <!--<option value="abc">Abc</option>
                            <option value="xyz">Xyz</option>-->
                        </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Specific requirements</label>
                            <input type="text" class="form-control" formControlName="misc" placeholder="Brand, Degree, Size, Pitch" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                        <label> </label>
                        <button type="button" class="btn btn-danger" (click)="deleteEnvVar(x)" *ngIf="envVars.controls.length>1">Delete</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-primary" [disabled]="form.status==='INVALID'" (click)="addEnvVar()">Add Row</button>
                    <button type="submit" class="btn btn-success" [disabled]="form.status==='INVALID'">Submit</button>
                </div>
            </div>
        </form>
        <div class="alert alert-danger" style="margin-top:10px;" *ngIf="showErrorMsg">
            Please enter value and select category to submit enquiry
        </div>
        <div class="alert alert-success" style="margin-top:10px;" *ngIf="showSuccessMsg">
            Enquiry submitted successfully
        </div>
        <!--<p>Value: {{ form.value | json }}</p>
        <p>Validation status: {{ form.status }}</p>-->
        <!--<form class="enquiry-form">
            <div class="row" *ngFor="let enquiry of enquiryModel;let x=index;">
                <div [style.display]="enquiry.isVisible?'block':'none'">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group">
                            <label>Value</label>
                            <input type="text" class="form-control" name="value" placeholder="Value" [(ngModel)]="enquiry.value" (ngModelChange)="isFilled(x)">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group">
                            <label>Voltage</label>
                            <input type="text" class="form-control" name="voltage" placeholder="Voltage" [(ngModel)]="enquiry.voltage">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Category</label>
                            <select class="form-control" name="category" [(ngModel)]="enquiry.category" (ngModelChange)="isFilled(x)">
                                <option value="">Select Category</option>
                                <option value="abc">Abc</option>
                                <option value="xyz">Xyz</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Misc</label>
                            <input type="text" class="form-control" name="misc" placeholder="Misc" [(ngModel)]="enquiry.misc">
                        </div>
                    </div>
                </div>
            </div>
        </form>-->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="just-txt-div">
                    <h3>Contact Address : </h3>
                    <p>
                        90/567, Raw Street Lane, United States of America,
                        <br /> Pin: 309987-09.
                    </p>
                    <p>
                        <strong>  Call: </strong> +09-890-789-00-900
                    </p>
                    <p>
                        <strong>  E-mail: </strong> info@yourdomain.com
                    </p>
                </div>
            </div>
            <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="just-txt-div">
                    <div class="form-group">
                        <label>Enter Your Email</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Enter Subject </label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Enter query/Feedback</label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg">SEND QUERY </button>
                </div>
            </div>-->
        </div>
    </div>
</div>