<loading *ngIf="!hideLoader"></loading>
<div class="container-fluid" *ngIf="products.length>0">
    <div class="row pdb20" *ngFor="let product of products">
        <div class="carousel-caption">
            <h1 class="wow slideInLeft" data-wow-duration="2s">{{product.name}}</h1>
            <h2 class="wow slideInRight" data-wow-duration="2s">{{product.text}}</h2>
        </div>
        <div class="text-center">
            <img [src]="product.image | imagePath:0:600" />
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="showNoProducts">
    <div class="text-center">
        <h3>No products found</h3>
    </div>
</div>